@import 'compass';

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}