@import '../Common/importer';

.file-row{
    border: 1px solid $grey;
    margin-bottom:15px;
    position: relative;
    @include width-height(100%, 50px);
    &-upload{
        cursor: pointer;
        padding:15px;
        opacity: 0;
        @include width-height(100%, 50px);
    }
    span{
        left: 0;
        position: absolute;
        padding: 15px;
        top:0;
        width: 100%;
    }
    &-close{
        cursor: pointer;
        color:$grey;
        line-height: 50px;
        text-align: center;
        @include position(absolute, $top:0px, $right:0px)
        @include width-height(50px, 50px);
    }
}